<% if session[:success] %>
  <div class="flash success">
    <p><%= session.delete(:success) %></p>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Flight Number</th>
      <th>Destination</th>
      <th>Departure Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= session[:details]["airline"] %> </td>
      <td><%= session[:details]["flight_number"] %></td>
      <td><%= session[:details]["destination"] %></td>
      <td><%= session[:details]["departure_time"] %></td>
    </tr>
  </tbody>
</table>